<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% if page.title %}{{ page.title }} ~ {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/basic.css" | prepend: site.baseurl }}" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>

<body>
    <div id="first_container">
